.preview {
    height: 70vh;
    width: 100%;
    background-size: 6000px 6000px;
    margin: 3px;
    flex: 35%;
}

.header {
    transition: 0.4s;
}

.header:hover {
    transform: rotate3d(0,1,1,15deg);
}

@media only screen and (max-width: 800px) {
    .preview {
        flex: 100%;
    }
  }

.text {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content:center;
    align-items:center;
}